
html,
body {
    position: relative;
    height: 100%;
    font: normal 1em 'Segoe UI', 'Droid Sans', Ubuntu, 'Lucida Grande', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background: #f5f5f5;
    overflow-x: initial;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h3 {
    text-transform: uppercase;
}

a {
    color: blue;
}

.report-header {
    padding-top: 5px; 
    padding-bottom: 5px;
    background-color: white;
}

.title-section {
    padding-left: 2vw;
    padding-right: 2vw;
    color: rgb(70, 70, 70);
}

.report-title {
    color: royalblue;
}

.report-summary {
    max-width: 800px;
    font-size: 1.4em;
    color: #555;
}

.section-title {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
    margin: auto;
    
}

.team-section {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
}

    .team-title {
        font-weight: 700;
        margin-bottom: 12px;
        color: #1C3A94;
    }

    .members {
        display: inline-flex; 
        flex-direction: row;
    }

    .member {
        display: inline-flex; flex-direction: column;
    }
        .member:not(:last-child) {
            margin-right: 12px;
        }

        .member-pic {
            display: block;
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        .member-role {
            font-size: 0.9em; font-weight: 500;
            color: #555;
        }

.report-body {
    display: flex;
}

.report-aside {
    padding-top: 24px;
    padding-right: 12px;
    padding-left: 2vw;
    background-color: orange;
    
}

.report-main {
    background-color: rgb(241, 236, 236);
    padding-left: 12px;
    padding-right: 2vw;
    padding-bottom: 50px;
}

.nav {
    color: #E87429;
}

.nav-item__link {
    display: block;
    padding: 6px;
    text-decoration: none;
}

.glossary {
    font-size: 1em;
}

.glossary-term {
    font-weight: 700;
}

.preview-img {
    width: 600px;
    height: 400px;
}

.report-footer {
    background-color: #2C5EB4;
    padding: 12px 2vw 24px;
}

.report-footer p {
    margin: 0;
}

.report-footer__link {
    color: #fff;
}

.section-main {
    margin-top: 30px;
}

.bare-list { 
    margin: 0; 
    padding-left: 0; 
    list-style: none; 
}

.bare-link { 
    text-decoration: none; 
    color: inherit; }

.bare-table { 
    border: none; 
    table-layout: fixed; }

.bare-table td,
.bare-table th { 
    border: none;
}

.bare-table th {
    vertical-align: top;
    text-align: left;
}

.preview-img1 {
    width: 1200px;
    height: 800px;
}

.cu {
    width: 600px;
    height: 500px;
}